#container_sesion{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #090909;
    font-family: Montserrat-Regular;
    font-size: 15px;
    background-color: rgba(226, 209, 209, 0.7);
}

#doble_fondo{
    height: 100vh;
    width: 100%;
    background-image: url('src/assets/img/fondos/login_user.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: start;
    background-position-y: center;
}


.login, .boton_enviar{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.img_login {
    height: 130px;
    width: 130px;
    background-image: url('src/assets/img/logos/logo_hermes.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

#container_sesion form{
    width: 100%;
    padding: 0px 30px 0px 30px;
}

#container_sesion form .item_form{
    display: grid;
    padding-bottom: 15px;
}

#container_sesion form .item_form *{
    padding-bottom: 10px;
}

#container_sesion form .item_form input {
    height: 40px;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
    border:  2px solid  #114358;
}
.boton_enviar  button{
    height: 40px;
    width: 70%;
    border-radius: 5px;
    background-color: #F2AA1F;
    border-radius: 2px solid #8f6613;
}