<div id="doble_fondo">
    <div id="container_sesion">
        <form action="POST">
            <div class="login">
                <div class="img_login"></div>
            </div>
            <div class="item_form">
                <label for="email_ususario"> E-mail</label>
                <input type="email" id = 'email_usuario'>
            </div>
        
            <div class="item_form">
                <label for="password_ususario"> Contraseña</label>
                <input type="password" id = 'password_usuario'>
            </div>

            <div class = "boton_enviar">
                <button>Entrar</button>
            </div>
        </form>
    </div>
</div>