<!-- Menu principal  -->
<nav class="conatainer_menu">
    <div class="menu_lateral">
        <ul class="items_menu">
            <li [routerLink] = "['/buscarcamino']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }" [routerLinkActiveOptions]="{ exact : true }">
                <i class="fa-solid fa-signs-post"></i>
            </li>
            <li [routerLink] = "['/login']">
                <i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i>
            </li>
        </ul>
    </div>
</nav>


<!-- 
<ng-container *ngIf="_htoken == null; else menu_admin">
    <nav class="conatainer_menu">
        <div class="menu_lateral">
            <ul class="items_menu">
                <li routerLink="buscarcamino" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }">
                    <i class="fa-solid fa-route"></i>
                </li>
                <li routerLink="crearusuario" routerLinkActive="active">
                    <i class="fa-solid fa-user-plus"></i>
                </li>
                <li routerLink="login" routerLinkActive="active">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                </li>
            </ul>
        </div>
    </nav>
</ng-container>

<ng-template #menu_admin>
    <nav class="conatainer_menu">
        <div class="menu_lateral">
            <ul class="items_menu">
                <li routerLink="perfil" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }">
                    <i class="fa-solid fa-user-shield"></i>
                </li>
                <li routerLink="buscarcamino" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }">
                    <i class="fa-solid fa-map-location-dot"></i>
                </li>
                <li routerLink="crearusuario" routerLinkActive="active">
                    <i class="fa-solid fa-route"></i>
                </li>
                <li routerLink="login" (click)="logout()">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </li>
            </ul>
        </div>
    </nav>
</ng-template>







 -->
