<nav class="row">
    <div class="col menu_lateral">
        <ul class="items_menu">
            <li routerLink="buscarcamino" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }">
                <i class="fa fa-map"></i>
            </li>
            <li routerLink="crearusuario" routerLinkActive="active">
                <i class="fa fa-user-plus"></i>
            </li>
            <li routerLink="login" routerLinkActive="active">
                <i class="fa fa-user"></i>
            </li>
        </ul>
    </div>
</nav>



<!-- <nav id="navegacion_principal" class="row">
    <div class="col">
        <div id="logotipo_nav">
            <div class="imagen">
                <img src="./assets/logo_hermes.png" alt="">
            </div>
        </div>
        <ul id="items_principal">
            <li class="nav-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }">
                Inicio
            </li>
            <li class="nav-item" routerLink="crearusuario" routerLinkActive="active">
                Crear usuario
            </li>
            <li class="nav-item" routerLink="login" routerLinkActive="active">
                Login
            </li>
        </ul>
    </div>
</nav> -->







