<div class="row">
    <div class="col">
        <h3 class="text-center"> Google sing in </h3>
        <hr>
    </div>
</div>


<div class="row">
    <div class="col">
        <div id="g_id_onload"
            data-client_id="1000704626013-qicm1sl7m25m105r3kq1vi3li9u73cbm.apps.googleusercontent.com"
            data-auto_prompt="false"
            data-callback="handleCredentialResponse">
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="g_id_signin"
            data-type="standard"
            data-size="large"
            data-theme="outline"
            data-text="sign_in_with"
            data-shape="rectangular"
            data-logo_alignment="left">
        </div>
    </div>
</div>

<button id="google_singout" onclick="singOut()">
    Sing Out
</button>