@font-face {
    font-family: Montserrat-Regular;
    src: url('src/assets/fonts/Montserrat/Montserrat-Regular.ttf') format("opentype");
}

.contenido{
    display: grid;
    grid-template-columns: 450px auto;
}

.menu_sidebar {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}