<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google SingIn</title>
</head>

<body>
  <div class="contenido">
    <div class>
      <div class="menu_sidebar">
        <!-- barra menu -->
        <div class="menu_lateral">
          <app-sidebar-menu></app-sidebar-menu>
        </div>

        <!-- barra opciones -->
        <div class="sidebar">
          <app-sidebar></app-sidebar>
        </div>
      </div>
    </div>

    <div class="mapa">
      <h1>MAPA</h1>
    </div>
  </div>
</body>
</html>