
.menu_lateral {
    height: 100vh;
    background-color: #393f41;
    width: 50px;
    /* box-shadow: 2px 0px 15px rgb(119, 118, 118); */
    display: grid;
    justify-content: center;
    align-items: center;
}

.menu_lateral .items_menu {
    list-style: none;
    padding: 0px

}

.items_menu li{
    color: white; 
    cursor: pointer;
    font-size: 17px;
    padding: 10px 0px;
    transition: all .2s ease;
}

.items_menu li:hover{
    transform: scale(1.2);
    color: #F2AA1F;
    cursor: pointer;
    padding: 10px 0px;
    text-align: center;
}