<!-- Menu administrador  -->
<nav class="conatainer_menu">
    <div class="menu_lateral">
        <ul class="items_menu">
            <li [routerLink]="['/perfil']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }">
                <i class="fa-solid fa-user-shield"></i>
            </li>
            <li [routerLink] = "['/crearusuario']" >
                <i class="fa-solid fa-user-plus"></i>
            </li>
            <li [routerLink] = "['/buscarcamino']">
                <i class="fa-solid fa-signs-post"></i>
            </li>
            <li [routerLink]="['/vertices/listado']" >
                <i class="fa-solid fa-map-location-dot"></i>
            </li>
            <!-- Generar aristas -->
            <li [routerLink]="['/login']">
                <i class="fa-solid fa-route"></i>
            </li>
            <li (click)= "salida()">
                <i class="fa-solid fa-person-walking-arrow-loop-left"></i>
            </li>
        </ul>
    </div>
</nav>
